[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "newsmd"]
	path = newsmd
	url = https://github.com/dschaykib/newsmd
	shallow = true
	registered = true
